<div class="container">
  <div class="row">
   <div class="col-2"></div>
   <div class='col-8 text-center px-5 px-sm-0 py-5'>
      <h5 class="text-dark bg-light p-3 mb-0 text-center"><%= @user.name %> 's COMMENTS</h5>
      <table>
        <% if @user.comments.any? %>
         <% @user.comments.each do |comment| %>
        <tbody>
          <tr>
            <td>
              <%= image_tag comment.user.get_profile_image,size:"100,100", class:"mt-3 rounded-circle"; %><br>
              <%= link_to admin_user_path(comment.user_id), class:"text-dark" do %>
                <span><i class="fas fa-user"></i> By <%= comment.user.name %> </span>
              <% end %>
            </td>
            <td><%= comment.comment %></td>
            <td><%= link_to "DELETE", admin_comment_path(comment.id), method: :delete , class: "btn btn-danger" %></td>
          </tr>
        </tbody>
        <% end %>
        <% else %>
        <h3 class="text-center py-5">THIS USER DID NOT POST ANY COMMENT YET.</h3>
        <% end %>
      </table>
    </div>
  </div>
</div>