<div class="container">
  <div class="row">
    <div class="mx-auto">
      <table>
      <% @user.comments.each do |comment| %>
        <tbody>
          <tr>
            <td>
              <%= image_tag comment.user.get_profile_image,size:"100,100", class:"mt-3 rounded-circle"; %><br>
              <%= link_to admin_user_path(comment.user_id), class:"text-dark" do %>
                <span><i class="fas fa-user"></i> By <%= comment.user.name %> </span>
              <% end %>
            </td>
            <td><%= comment.comment %></td>
            <td><%= link_to "DELETE", admin_comment_path(comment.id), method: :delete , class: "btn btn-danger" %></td>
          </tr>
        </tbody>
      <% end %>
      </table>
    </div>
  </div>
</div>