<div class="container">
  <div class="row py-3">
    <h5 class="text-dark bg-light p-3 text-center"><%= @user.name %> 'S RELATIONSHIPS</h5>
    <div class="col-5 shadow-lg mx-auto py-3">
      <h5 class="text-dark bg-light p-3 text-center">FOLLOWING</h5>
      <% if @followings.exists? %>
        <% @followings.each do |following| %>
          <table class="table-hover mx-auto">
            <tbody>
              <tr>
                <td>
                  <%= image_tag following.get_profile_image,size:"100,100", class:"mt-3 rounded-circle"; %>
                  <%= link_to(user_path(following.id), class:"text-dark") do %>
                    <p class="text-center"><strong><i class="fas fa-user"></i></strong><%= following.name %></p>
                  <% end %>
                </td>
                <td>POSTS: <%= following.spots.count %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      <% else %>
        <p class="text-center mx-auto">WHEN YOU FOLLOW OTHER ACCOUNT,<br> THEY WILL SHOW UP HERE.</p>
      <% end %>
    </div>
    <div class="col-5 shadow-lg mx-auto py-3">
      <h5 class="text-dark bg-light p-3 text-center">FOLLOWERS</h5>
      <% if @followers.exists? %>
        <% @followers.each do |follower| %>
          <table class="table-hover mx-auto">
            <tbody>
              <tr>
                <td>
                  <%= image_tag follower.get_profile_image,size:"100,100", class:"mt-3 rounded-circle"; %>
                  <%= link_to(user_path(follower.id), class:"text-dark") do %>
                    <p class="text-center"><strong><i class="fas fa-user"></i></strong><%= follower.name %></p>
                  <% end %>
                </td>
                <td>POSTS: <%= follower.spots.count %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      <% else %>
        <p class="text-center mx-auto">WHEN SOMEONE FOLLOWS THIS ACCOUNT,<br> THEY WILL SHOW UP HERE.</p>
      <% end %>
    </div>
  </div>
</div>