<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-lg-7 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">SIGN UP</h5>
      <div class="form-body p-4">
        <!-- sign up form -->
          <%= form_with model: @admin, url: admin_registration_path do |f| %>
            <%= render "public/shared/error_messages", resource: resource %>
           <div class="input-group mb-3 mt-4">
            <%= f.label :name %><br>
            <%= f.text_field :name %>
           </div>
           <div class="input-group mb-3 mt-4">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
           </div>
           <div class="input-group mb-3 mt-4">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
           </div>
           <div class="input-group mb-3 mt-4">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
           </div>
          <hr>
            <%= f.submit 'SIGN UP', class:"btn btn-lg btn-block btn-info mt-4" %>
        <% end %>
        <%= render "public/shared/links" %>
      </div>
    </div>
  </div>
</div>
