<%= render 'public/shared/flash_messages' %>
<div class="container">
  <div class="row">
    <div class="col-md-3 sidebar">
      <aside class="shadow-lg rounded px-0 my-5">
        <%= render 'public/genres/search', genres: @genres %>
      </aside>
      <%= link_to "CREATE SPOT",new_spot_path, class:"btn btn-sm btn-primary" %>
    </div>
    <div class="col-md-9">
      <div class="card-list-container py-5 row">

        <%= link_to '新しい順', spots_path(latest: "true") %>
        <%= link_to '古い順', spots_path(old: "true") %>
        <%= link_to '評価の高い順', spots_path(star_count: "true") %>

        <% @spots.each do |spot| %>
          <div class="card mx-auto mt-4 shadow-lg card-box">
           <div class="card-body">
            <div class="row">
              <div class="spot-image mx-auto">
               <%= link_to spot_path(spot.id) do %>
                <%= image_tag spot.image.variant( resize: "300x280^", gravity: "center" ) %>
               <% end %>
              </div>
              <div class="col-4">
                <%= image_tag spot.user.get_profile_image,size:"100,100", class:"mt-3 rounded-circle"; %>
              </div>
              <div class="col-8">
                <p class="card-title">
                  <%= render 'public/favorites/favorite-btn', spot: spot %>
                  <%= link_to(spot_path(spot.id), class:"text-dark") do %>
                    <strong><i class="far fa-flag"></i><span> <%= spot.name %></span></strong>
                  <% end %>
                </p>
                <div id="star-rate<%= spot.id %>"></div>
                <script>
                 $('#star-rate<%= spot.id %>').raty({
                   size      : 36,
                   starOff   : '<%= asset_path('star-off.png') %>',
                   starOn    : '<%= asset_path('star-on.png') %>',
                   half      : false,
                   readOnly: true,
                   score: <%= spot.star %>,
                 });
                </script>
              </div>
              <div class="col-10">
                <%= link_to(users_my_page_path(spot.user_id), class:"text-dark") do %>
                <span><i class="fas fa-user"></i> By <%= spot.user.name %> ｜ </span>
                <% end %>
                <span>
                  <% if spot.comments.any? %>
                    <%= link_to "VIEW ALL #{spot.comments.count} COMMENTS", spot_path(spot.id), class:"text-dark" %>
                  <% else %>
                    <%= link_to "COMMENT" , spot_path(spot.id), class:"text-dark" %>
                  <% end %>
                </span>
                <%= l spot.created_at %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <%= paginate @spots %>
      </div>
    </div>

  </div>
</div>
