<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="col-md-3 sidebar text-center px-0 my-5">
      <%= link_to "NEW SPOT",new_spot_path, class:"btn btn-lg btn-light shadow-lg" %>
      <aside class="shadow-lg rounded px-0 my-5">
        <%= render 'public/genres/search', genres: @genres %>
      </aside>
    </div>
    <div class="col-md-9 card-list-container py-2">
      <h5 class="text-dark bg-light p-3 mb-0 text-center">PHOTOGENIC SPOTS</h5>
      <div class="sorting spots text-right">
        <%= link_to 'NEWEST', spots_path(latest: "true"), class:"text-dark" %>
        <%= link_to 'OLDEST', spots_path(old: "true") , class:"text-dark"%>
        <%= link_to 'RANK', spots_path(star_count: "true") , class:"text-dark"%>
      </div>
      <%= render'public/spots/index', spots: @spots %>
      <%= paginate @spots %>
    </div>
  </div>
</div>
