<div class="container">
  <div class="row">
    <div class="col-md-3 sidebar text-center px-0 my-5">
      <%= link_to "NEW SPOT",new_spot_path, class:"btn btn-lg btn-light" %>
      <aside class="shadow-lg rounded px-0 my-5">
        <%= render 'public/genres/search', genres: @genres %>
      </aside>
    </div>
    <div class="col-md-9 card-list-container py-2">
      <% if @spots.exists? %>
        <h3 class="text-dark bg-light p-3 mb-0 text-center">THERE IS <%= @spots.count %> RESULTS FOR "<%= @keyword %>"</h3>
      <% else %>
        <h3 class="text-dark bg-light p-3 mb-0 text-center">SORRY, WE COULDN'T FIND ANY RESULTS</h3>
      <% end %>
      <div class="sorting spots text-right">
        <%= link_to 'NEWEST', search_path(latest: "true", keyword: params[:keyword]), class:"text-dark" %>
        <%= link_to 'OLDEST', search_path(old: "true", keyword: params[:keyword]) , class:"text-dark"%>
        <%= link_to 'RANK', search_path(star_count: "true", keyword: params[:keyword]) , class:"text-dark"%>
      </div>
      <%= render'public/spots/index', spots: @spots %>
      <%= paginate @spots %>
    </div>
  </div>
</div>
