<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <div class="col-md-3 sidebar text-center px-0 my-5">
      <%= link_to "NEW SPOT",new_spot_path, class:"btn btn-lg btn-light shadow-lg" %>
      <aside class="shadow-lg rounded px-0 my-5">
        <%= render 'public/genres/search', genres: @genres %>
      </aside>
    </div>

    <div class="col-lg-9 card-list-container py-2">
      <h5 class="text-dark bg-light p-3 mb-0 text-center">SPOT DETAIL</h5>
      <div class="card w-100 mx-auto mt-4 shadow-lg">
        <div class="card-body">
          <div class="row">
            <div class="col-12 text-center">
              <%= image_tag @spot.image.variant( resize: "800x700^", gravity: "center" ) %>
            </div>
            <div class="col-2 text-center">
              <%= image_tag @spot.user.get_profile_image,size:"100,100", class:"mt-3 rounded-circle"; %>
              <%= link_to(user_path(@spot.user_id), class:"text-dark") do %>
                  <p><i class="fas fa-user"></i> By <%= @spot.user.name %> </p>
              <% end %>
            </div>
            <div class="col-10">
              <%= render 'public/favorites/favorite-btn', spot: @spot %>
                <div id="star-rate<%= @spot.id %>"></div>
                 <script>
                  $('#star-rate-<%=@spot.id %>').empty();
                   $('#star-rate<%= @spot.id %>').raty({
                     size      : 36,
                     starOff   : '<%= asset_path('star-off.png') %>',
                     starOn    : '<%= asset_path('star-on.png') %>',
                     half      : false,
                     readOnly: true,
                     score: <%= @spot.star %>,
                   });
                 </script>
              <p class="card-title">
                <strong><i class="far fa-flag"></i><span> <%= @spot.name %></span></strong>
              </p>
              <p class="card-text">CAPTION:<br> <strong><%= @spot.caption %></strong></p>
              <p class="card-text">ADDRESS:<br> <strong><%= @spot.address %></strong></p>
              <p class="text-right">
                <%= l @spot.created_at, format: :short %>
                <% if @spot.user == current_user %>
                  <%= link_to "Edit", edit_spot_path(@spot.id), class:"btn btn-sm btn-light" %>
                  <%= link_to "Destroy",spot_path(@spot.id),class:"btn btn-sm btn-dark", method: :delete, "data-confirm" => "Are you sure？" %>
                <% end %>
              </p>
              <div id="spot_comment_form">
                <%= render "public/comments/comment_form", spot: @spot, comment: @comment %>
              </div>
              <div id="spot_comments">
                <%= render "public/comments/comments", spot: @spot, comments: @comments %>
              </div>

              <div id="map"></div>
              <script>
                let map;

                function initMap() {
                  // geocoderを初期化
                  geocoder = new google.maps.Geocoder()

                  map = new google.maps.Map(document.getElementById('map'), {
                    // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
                    center: {
                      lat: gon.spot.latitude,
                      lng: gon.spot.longitude
                    },
                    // マップの倍率はお好みで
                    zoom: 17,
                  });

                  marker = new google.maps.Marker({
                    // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
                    position: {
                      lat: gon.spot.latitude,
                      lng: gon.spot.longitude
                    },
                    map: map
                  });
                }
              </script>
              <script async defer
                    src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GMAP_API'] %>&callback=initMap">
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>