<%= render 'public/shared/flash_messages' %>
<div class="container">
  <div class="row no-gutters">
    <div class="col-lg-1 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <%= render 'public/genres/search', genres: @genres %>
      <%= link_to "CREATE SPOT",new_spot_path, class:"btn btn-sm btn-primary" %>
    </div>
    <div class="col-lg-10 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">SPOT DETAIL</h5>
      <div class="card-list-container py-5">

      <table class="table table-hover table-inverse">
       <thead>
        <tr>
         <th><%=  %></th>
         <td><div id="star-rate<%= @spot.id %>"></div>
            <script>
               $('#star-rate<%= @spot.id %>').raty({
                 size      : 36,
                 starOff   : '<%= asset_path('star-off.png') %>',
                 starOn    : '<%= asset_path('star-on.png') %>',
                 half      : false,
                 readOnly: true,
                 score: <%= @spot.star %>,
               });
            </script>
         </td>
        </tr>
       </thead>
        <tbody>
         <tr>
          <td><%= link_to users_my_page_path(@spot.user_id) do %>
              <%= image_tag @spot.user.get_profile_image,size:"100,100" %>
              <% end %><br>
              <%= link_to @spot.user.name, users_my_page_path(@spot.user_id) %></td>
          <td><%= link_to @spot.name, spot_path %></td>
          <td><%= @spot.caption %></td>
          <td class="favorite-btn"><%= render 'favorites/favorite-btn', spot: @spot %></td>
          <td>
            <% if @comments.any? %>
              <%= link_to "VIEW ALL #{spot.spot_comments.count} COMMENTS", spot_path(spot.id), class:"text-dark" %>
            <% else %>
              <%= link_to "COMMENT" , spot_path(spot.id), class:"text-dark" %>
            <% end %>
          </td>
          <% if @spot.user == current_user %>
          <td><%= link_to "Edit", edit_spot_path(@spot.id), class:"btn btn-sm btn-success" %></td>
          <td><%= link_to "Destroy",spot_path(@spot.id),class:"btn btn-sm btn-danger", method: :delete, "data-confirm" => "Are you sure？" %></td>
          <% end %>
         </tr>
        </tbody>
      </table>
      <div id="spot_comments">
        <%= render "comments/comments", spot: @spot, comments: @comments %>
      </div>
      <div id="spot_comment_form">
        <%= render "comments/comment_form", spot: @spot, comment: @comment %>
      </div>
    </div>
  </div>
</div>
</div>