<%= render 'public/shared/flash_messages' %>
<div class="container">
  <div class="row no-gutters">
    <div class="col-lg-2 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <%= render 'public/genres/search', genres: @genres %>
      <%= link_to "CREATE SPOT",new_spot_path, class:"btn btn-sm btn-primary" %>
    </div>

    <div class="col-lg-9 card-list-container py-2">
      <h5 class="text-dark bg-light p-3 mb-0 text-center">SPOT DETAIL</h5>

  <div class="card w-100 mx-auto mt-4 shadow-lg">
    <div class="card-body">
      <div class="row">
        <div class="col-12 text-center">
          <%= image_tag @spot.image.variant( resize: "600x500^", gravity: "center" ) %>
        </div>
        <div class="col-2 text-center">
          <%= image_tag @spot.user.get_profile_image,size:"100,100", class:"mt-3 rounded-circle"; %>
        </div>
        <div class="col-10">
          <p class="card-title">
              <strong><i class="far fa-flag"></i><span> <%= @spot.name %></span></strong>
          </p>
          <p class="card-text">CAPTION：<%= @spot.caption %></p>
          <p class="card-text">ADDRESS: <%= @spot.address %></p>
          <span><i class="fas fa-user"></i> By <%= @spot.user.name %> ｜ </span>
          <span>

          </span>
          <p class="text-right">
            <% if @spot.user == current_user %>
              <%= link_to "Edit", edit_spot_path(@spot.id), class:"btn btn-sm btn-light" %>
              <%= link_to "Destroy",spot_path(@spot.id),class:"btn btn-sm btn-dark", method: :delete, "data-confirm" => "Are you sure？" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>




    </div>
  </div>
</div>
</div>