<div class="container">
  <div class="row no-gutters">
    <div class="col-lg-8 mx-auto card-list-container py-2">
      <h5 class="text-dark bg-light p-3 mb-0 text-center">SPOT DETAIL</h5>
      <div class="card w-100 mx-auto mt-4 shadow-lg">
        <div class="card-body">
          <div class="row">
              <%= image_tag @spot.image.variant( resize: "600x500^", gravity: "center" ) %>
            <div class="col-2 text-center">
              <%= image_tag @spot.user.get_profile_image,size:"100,100", class:"mt-3 rounded-circle"; %>
              <%= link_to(admin_user_path(@spot.user_id), class:"text-dark") do %>
                  <span><i class="fas fa-user"></i> By <%= @spot.user.name %> </span>
              <% end %>
            </div>
            <div class="col-10">
              <p class="card-title">
                <strong><i class="far fa-flag"></i><span> <%= @spot.name %></span></strong>
              </p>
              <p class="card-text">CAPTION：<%= @spot.caption %></p>
              <p class="card-text">ADDRESS: <%= @spot.address %></p>
              <div id="star-rate<%= @spot.id %>"></div>
                <script>
                   $('#star-rate<%= @spot.id %>').raty({
                     size      : 36,
                     starOff   : '<%= asset_path('star-off.png') %>',
                     starOn    : '<%= asset_path('star-on.png') %>',
                     half      : false,
                     readOnly: true,
                     score: <%= @spot.star %>,
                   });
                </script>
              <table>
                <% @spot.comments.each do |comment| %>
                  <tbody>
                    <tr>
                      <td>
                        <%= image_tag comment.user.get_profile_image,size:"100,100", class:"mt-3 rounded-circle"; %><br>
                        <%= link_to admin_user_path(comment.user_id), class:"text-dark" do %>
                          <span><i class="fas fa-user"></i> By <%= comment.user.name %> </span>
                        <% end %>
                      </td>
                      <td><%= comment.comment %></td>
                      <td><%= link_to "DELETE", admin_comment_path(comment.id), method: :delete , class: "btn btn-danger" %></td>
                    </tr>
                  </tbody>
                <% end %>
              </table>
              <p class="text-right">
                <%= l @spot.created_at %>
                <%= link_to "Destroy",admin_spot_path(@spot.id),class:"btn btn-sm btn-dark", method: :delete, "data-confirm" => "Are you sure？" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
