<div class='container'>
  <div class='row'>
   <div class="col-2"></div>
   <div class='col-md-8 py-5'>
    <h4>会員一覧</h4>
     <table class='table table-hover table-inverse '>
    <thead>
     <tr class="table-light">
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
     </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
     <tr>
      <td><%= user.id %></td>
      <td><%= link_to admin_user_path(user.id),class:"text-dark" do %><%= user.name %><% end %></td>
      <td><%= user.email %></td>
      <td><% if user.is_deleted == false %>
  		   <p class="text-success">有効</p>
  	       <% else %>
  		   <p class="text-secondary">退会</p>
  	       <% end %></td>
          <% end %>
     </tr>
     <tr>
      <td></td>
      <td></td>
      <td><%= paginate @users %></td>
     </tr>
    </tbody>
   </table>
  </div>
  <div class='col-md-2'></div>
 </div>
</div>