<div class="container">
  <div class="row">
    <div class="col-md-3 sidebar mx-auto px-0 my-5 text-center">
       <h5 class="text-dark bg-light p-3 mb-0 text-center mx-auto"><%= @user.name %>'s DETAILS</h5>
       <strong>USER ID:</strong>
       <p><%= @user.id %></p>
       <%= image_tag @user.get_profile_image,size:"100,100", class:"mt-3 rounded-circle"; %>
       <p><strong><i class="fas fa-user"></i></strong><%= @user.name %></p>
       <strong>INTRODUCTION:</strong>
       <p><%= @user.introduction %></p>
       <strong>EMAIL:</strong>
       <p><%= @user.email %></p>
       <strong>POSTS:</strong>
       <p class="text-right"><%= @user.spots.count %></p>
       <strong>FOLLOWING:</strong>
       <p class="text-right"><%= @user.followings.count %></p>
       <strong>FOLLOWERS:</strong>
       <p class="text-right"><%= @user.followers.count %></p>
       <p><%= link_to 'ALL COMMENTS', admin_user_comments_path(@user), class: "btn btn-sm btn-dark btn-block rounded-pill" %></p>
       <p><%= link_to 'EDIT', edit_admin_user_path, class: "btn btn-sm btn-success btn-block rounded-pill" %></p>
    </div>

    <div class="col-md-9">
      <div class="card-list-container py-5 row">
        <% @spots.each do |spot| %>
          <div class="card mx-auto shadow-lg card-box">
          <div class="card-body">
            <div class="row">
              <div id="star-rate<%= spot.id %>"></div>
                <script>
                $('#star-rate-<%= spot.id %>').empty();
                 $('#star-rate<%= spot.id %>').raty({
                   size      : 36,
                   starOff   : '<%= asset_path('star-off.png') %>',
                   starOn    : '<%= asset_path('star-on.png') %>',
                   half      : false,
                   readOnly: true,
                   score: <%= spot.star %>,
                 });
                </script>
              <%= link_to admin_spot_path(spot.id) do %>
               <%= image_tag spot.image.variant( resize: "300x280^", gravity: "center" ) %>
              <% end %>
              <div class="col-4">
                <%= image_tag spot.user.get_profile_image,size:"100,100", class:"mt-3 rounded-circle"; %>
              </div>
              <div class="col-6">
                <p class="card-title">
                  <%= link_to(admin_spot_path(spot.id), class:"text-dark") do %>
                    <strong><i class="far fa-flag"></i><span> <%= spot.name %></span></strong>
                  <% end %>
                </p>
                <p class="card-text">ADDRESS：<%= spot.address %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <%= paginate @spots %>
      </div>
  </div>
</div>