<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <h4 class="bg text-center"><%= @user.name %>'s DETAILS</h4>
     <table>
      <tr>
       <td>USER ID</td>
       <td>　　　　　<%= @user.id %></td>
      </tr>
      <tr>
       <td>NAME</td>
       <td>　　　　　<%= @user.name %></td>
      </tr>
      <tr>
       <td>INTRODUCTION</td>
       <td>　　　　　<%= @user.introduction %></td>
      </tr>
      <tr>
       <td>IMAGE</td>
       <td>          <%= image_tag @user.get_profile_image %></td>
      </tr>
      <tr>
       <td>EMAIL</td>
       <td>　　　　　<%= @user.email %></td>
      </tr>
      <tr>
       <td><%= link_to 'EDIT', edit_admin_user_path, class: "btn btn-sm btn-success  rounded-pill" %></td>
      </tr>
     </table>
    </div>

<div class="col-md-9">
      <div class="card-list-container py-5 row">
        <% @spots.each do |spot| %>
          <div class="card mx-auto mt-4 shadow-lg card-box">
          <div class="card-body">
            <div class="row">
              <div id="star-rate<%= spot.id %>"></div>
                <script>
                 $('#star-rate<%= spot.id %>').raty({
                   size      : 36,
                   starOff   : '<%= asset_path('star-off.png') %>',
                   starOn    : '<%= asset_path('star-on.png') %>',
                   half      : false,
                   readOnly: true,
                   score: <%= spot.star %>,
                 });
                </script>
              <%= link_to admin_spot_path(spot.id) do %>
               <%= image_tag spot.image.variant( resize: "300x280^", gravity: "center" ) %>
              <% end %>
              <div class="col-3">
                <%= image_tag spot.user.get_profile_image,size:"100,100", class:"mt-3 rounded-circle"; %>
              </div>
              <div class="col-9">
                <p class="card-title">
                  <%= link_to(admin_spot_path(spot.id), class:"text-dark") do %>
                    <strong><i class="far fa-flag"></i><span> <%= spot.name %></span></strong>
                  <% end %>
                </p>
                <p class="card-text">ADDRESS：<%= spot.address %></p>
                <%= link_to(admin_user_path(spot.user_id), class:"text-dark") do %>
                <span><i class="fas fa-user"></i> By <%= spot.user.name %> </span>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <%= paginate @spots %>
      </div>
  </div>
</div>