<div class="col-md-3 sidebar mx-auto px-0 my-5 text-center">
  <h5 class="text-dark bg-light p-3 mb-0 text-center mx-auto"><%= user.name %>'s DETAIL</h5>
    <%= image_tag user.get_profile_image,size:"100,100", class:"mt-3 rounded-circle"; %>
    <p><strong><i class="fas fa-user"></i></strong><%= user.name %></p>
   <strong>INTRODUCTION:</strong>
   <p><%= user.introduction %></p>
   <% if @user.id == current_user.id %>
     <strong>EMAIL:</strong>
     <p><%= user.email %></p>
   <% end %>
   <strong>POSTS:</strong>
   <p class="text-right"><%= user.spots.count %></p>
   <%= link_to(favorites_user_path(user.id), class:"text-dark") do %>
     <p><strong>FAVORITES</strong></p>
   <% end %>
   <%= link_to(user_relationship_path(user.id), class:"text-dark") do %>
      <strong>FOLLOWING:</strong>
   <% end %>
   <p class="text-right"><%= user.followings.count %></p>
   <%= link_to(user_relationship_path(user.id), class:"text-dark") do %>
      <strong>FOLLOWERS:</strong>
   <% end %>
   <p class="text-right"><%= user.followers.count %></p>

   <% if user_signed_in? %>
     <% if current_user.following?(user) %>
       <%= link_to "UNFOLLOW", user_relationships_path(user.id), class:"btn btn-sm btn-light rounded-pill", method: :delete %>
     <% elsif user == current_user %>
       <%= link_to 'EDIT', users_information_edit_path, class: "btn btn-sm btn-light  rounded-pill" %>
     <% else %>
       <%= link_to "FOLLOW", user_relationships_path(user.id), class:"btn btn-sm btn-info rounded-pill", method: :post %>
     <% end %>
   <% else %>
     <%= link_to "FOLLOW", new_user_registration_path, class:"btn btn-sm btn-info rounded-pill" %>
   <% end %>
</div>