<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class="col-md-5 col-lg-7 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <%= render 'public/shared/error_messages', user: @user %>
      <h5 class="text-dark bg-light p-4 mb-0">EDIT PROFILE</h5>
      <div class="form-body p-4">
       <%= form_with model: @user, url: users_information_path, method: :patch do |f| %>
          <div class="input-group mb-3 mt-4">
            <%= f.label :name , class: "ml-xl-5"%><br />
                 <%= f.text_field :name, class: "ml-xl-5", autofocus: true, autocomplete: "name" %>
          </div>
          <div class="input-group mb-3 mt-4">
            <%= f.label :introduction , class: "ml-xl-5"%><br />
                 <%= f.text_field :introduction, class: "ml-xl-5", autofocus: true, autocomplete: "introduction" %>
          </div>
          <div class="input-group mb-3 mt-4">
            <%= f.label :profile_image , class: "ml-xl-5"%><br />
                 <%= f.file_field :profile_image, accept: "image/*", class: "ml-xl-5", autofocus: true, autocomplete: "profile_image" %>
          </div>
          <div class="input-group mb-3 mt-4">
            <%= f.label :email , class: "ml-xl-5"%><br />
                 <%= f.email_field :email, class: "ml-xl-5", autofocus: true, autocomplete: "email" %>
          </div>
          <div class="input-group mb-3 mt-4">
            <%= f.label :password, class: "ml-xl-5" %><br />
               <%= f.password_field :password, class: "ml-xl-5", autocomplete: "current-password" %>
          </div>
          <hr>
          <%= f.submit "UPDATE", class: "btn btn-md btn-info rounded-pill" %>
          <%= link_to "CANCEL MEMBERSHIP", users_cancel_path, class: "btn btn-md btn-danger rounded-pill" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
