<div class="container">
  <div class="row">
    <div class="col-md-3 sidebar mx-auto px-0 my-5 text-center">
      <h5 class="text-dark bg-light p-3 mb-0 text-center mx-auto"><%= @user.name %>'s DETAIL</h5>
          <%= image_tag @user.get_profile_image,size:"100,100", class:"mt-3 rounded-circle"; %>
          <p><strong><i class="fas fa-user"></i></strong><%= @user.name %></p>
         <strong>INTRODUCTION:</strong>
         <p><%= @user.introduction %></p>
         <strong>EMAIL:</strong>
         <p><%= @user.email %></p>
         <strong>POSTS:</strong>
         <p class="text-right"><%= @user.spots.count %></p>
         <%= link_to(favorites_user_path(@user.id), class:"text-dark") do %>
           <p><strong>LIKE SPOTS</strong></p>
         <% end %>
         <%= link_to(user_follow_path(@user.id), class:"text-dark") do %>
            <strong>FOLLOWING:</strong>
         <% end %>
         <p class="text-right"><%= @user.followings.count %></p>
         <%= link_to(user_follow_path(@user.id), class:"text-dark") do %>
            <strong>FOLLOWERS:</strong>
         <% end %>
         <p class="text-right"><%= @user.followers.count %></p>

         <% if user_signed_in? %>
           <% if current_user.following?(@user) %>
             <%= link_to "UNFOLLOW", user_relationships_path(@user.id), class:"btn btn-sm btn-light rounded-pill", method: :delete %>
           <% elsif @user == current_user %>
             <%= link_to 'EDIT', users_information_edit_path, class: "btn btn-sm btn-light  rounded-pill" %>
           <% else %>
             <%= link_to "FOLLOW", user_relationships_path(@user.id), class:"btn btn-sm btn-info rounded-pill", method: :post %>
           <% end %>
         <% else %>
           <%= link_to "FOLLOW", new_user_registration_path, class:"btn btn-sm btn-info rounded-pill" %>
         <% end %>
      </div>
      <div class="col-md-9 card-list-container py-2">
        <h5 class="text-dark bg-light p-3 mb-0 text-center">LIKE SPOTS</h5>
        <div class="sorting spots text-right">
          <%= link_to 'NEWEST', favorites_user_path(latest: "true"), class:"text-dark" %>
          <%= link_to 'OLDEST', favorites_user_path(old: "true") , class:"text-dark"%>
          <%= link_to 'RANK', favorites_user_path(star_count: "true") , class:"text-dark"%>
        </div>
        <div class="card-list-container row">
          <% if @favorite_spots.any? %>
          <% @favorite_spots.each do |spot|%>
            <div class="card mx-auto mt-4 shadow-lg card-box">
             <div class="card-body">
              <div class="row">
                <div class="spot-image mx-auto text-center">
                 <%= link_to spot_path(spot.id) do %>
                  <%= image_tag spot.image.variant( resize: "300x280^", gravity: "center" ) %>
                 <% end %>
                </div>
                <div class="col-4">
                  <%= image_tag spot.user.get_profile_image,size:"100,100", class:"mt-3 rounded-circle"; %>
                </div>
                <div class="col-8">
                  <p class="card-title">
                    <%= render 'public/favorites/favorite-btn', spot: spot %>
                    <%= link_to(spot_path(spot.id), class:"text-dark") do %>
                      <strong><i class="far fa-flag"></i><span> <%= spot.name %></span></strong>
                    <% end %>
                  </p>
                  <div id="star-rate<%= spot.id %>"></div>
                  <script>
                   $('#star-rate<%= spot.id %>').raty({
                     size      : 36,
                     starOff   : '<%= asset_path('star-off.png') %>',
                     starOn    : '<%= asset_path('star-on.png') %>',
                     half      : false,
                     readOnly: true,
                     score: <%= spot.star %>,
                   });
                  </script>
                  <div class="uploaded">
                   <%= l spot.created_at, format: :short %>
                  </div>
                </div>
                <div class="col-10 text-left">
                  <%= link_to(user_path(spot.user_id), class:"text-dark") do %>
                  <span><i class="fas fa-user"></i> By <%= spot.user.name %> ｜ </span>
                  <% end %>
                  <span>
                    <% if spot.comments.any? %>
                      <%= link_to "VIEW ALL #{spot.comments.count} COMMENTS", spot_path(spot.id), class:"text-dark" %>
                    <% else %>
                      <%= link_to "COMMENT" , spot_path(spot.id), class:"text-dark" %>
                    <% end %>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <% else %>
            <p class="text-center mx-auto">WHEN THIS ACCOUNT LIKES ANY SPOT,<br> IT WILL SHOW UP HERE.</p>
          <% end %>
          <%= paginate @favorite_spots %>
        </div>
      </div>
  </div>
</div>
