<%= flash[:notice] %>
<div class="container">
  <div class="row">
    <%= render'public/users/detail', user: @user %>
    <div class="col-md-9 card-list-container py-2">
      <h5 class="text-dark bg-light p-3 mb-0 text-center"><%= @user.name %> 's SPOTS</h5>
      <div class="sorting spots text-right">
        <%= link_to 'NEWEST', user_path(latest: "true"), class:"text-dark" %>
        <%= link_to 'OLDEST', user_path(old: "true") , class:"text-dark"%>
        <%= link_to 'RANK', user_path(star_count: "true") , class:"text-dark"%>
      </div>
      <%= render'public/spots/index', spots: @spots %>
      <%= paginate @spots %>
    </div>
  </div>
</div>