      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
          <% if admin_signed_in? %>
          <div class="col-3">
            <a class="navbar-brand p-3" href=""><%= image_tag('Photogenic Spot-logo.png', size: '250x100') %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="col-4 search-area">
            <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
              <%= f.text_field :word, placeholder: "KEYWORD", class:"search-text"%>
              <%= f.select :range, options_for_select([['User'], ['Spot']]) %>
              <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
              <%= button_tag type: "SUBMIT", class:"btn btn-default" do %>
                <i class= "fas fa-search"></i>
              <% end %>
            <% end %>
          </div>
          <% else %>
          <div class="col-4">
            <a class="navbar-brand p-3" href="/"><%= image_tag('Photogenic Spot-logo.png', size: '250x100') %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="col-3 search-area">
            <%= form_with url: search_path, method: :get, local: true do |f| %>
              <%= f.text_field :keyword, placeholder: "KEYWORD", class:"search-text"%>
              <%= button_tag type: "SUBMIT", class:"btn btn-default" do %>
                <i class= "fas fa-search"></i>
              <% end %>
            <% end %>
          </div>
          <% end %>
          <div class="col-5 collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to admin_spots_path,class: "nav-link btn btn-outline-secondary rounded-pill",title:"spot lists" do %>
                  <i class="fas fa-map-marker-alt"></i> SPOTS
                  <% end %>
                </li>
                <li class="nav-item">
                  <%=  link_to admin_users_path,class: "nav-link btn btn-outline-secondary rounded-pill",title:"user lists" do %>
                  <i class="fas fa-user-friends"></i> USERS
                  <% end %>
                </li>
                <li class="nav-item">
                  <%=  link_to admin_genres_path ,class: "nav-link btn btn-outline-secondary rounded-pill",title:"genre lists" do %>
                  <i class="fas fa-seedling"></i> GENRES
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_admin_session_path, method: :delete,class: "nav-link btn btn-outline-secondary rounded-pill",title:"logout" do %>
                  <i class="fas fa-sign-out-alt"></i>LOGOUT
                  <% end %>
                </li>
              <% elsif user_signed_in? %>
                  <li class="nav-item">
                  <%= link_to spots_path,class: "nav-link btn btn-outline-secondary rounded-pill",title:"spot lists" do %>
                  <i class="fas fa-map-marker-alt"></i> SPOTS
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%=  link_to about_path ,class: "nav-link btn btn-outline-secondary rounded-pill",title:"map" do %>
                    <i class="fas fa-location-arrow"></i> MAP
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to user_path(current_user), class: "nav-link btn btn-outline-secondary rounded-pill",title:"my page" do %>
                    <i class="fas fa-address-card"></i> MY PAGE
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to favorites_user_path(current_user), class: "nav-link btn btn-outline-secondary rounded-pill",title:"my favorites" do %>
                    <i class="fas fa-heart"></i> FAVORITES
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to destroy_user_session_path, method: :delete, class: "nav-link btn btn-outline-secondary rounded-pill",title:"logout" do %>
                    <i class="fas fa-sign-out-alt"></i> LOGOUT
                    <% end %>
                  </li>
              <% else %>
                  <li class="nav-item">
                    <%= link_to about_path, data: {"turbolinks" => false}, class: "nav-link btn btn-outline-secondary rounded-pill",title:"about" do %>
                    <i class="fas fa-map-signs"></i> ABOUT
                    <% end %>
                  </li>
                  <li class="nav-item">
                  <%= link_to spots_path,class: "nav-link btn btn-outline-secondary rounded-pill",title:"spot lists" do %>
                  <i class="fas fa-map-marker-alt"></i> SPOTS
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to new_user_registration_path,class: "nav-link btn btn-outline-secondary rounded-pill",title:"sign up" do %>
                    <i class="fas fa-user-edit"></i> SIGN UP
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to users_guest_sign_in_path,class: "nav-link btn btn-outline-secondary rounded-pill",title: "guest sign in", method: :post do %>
                    <i class="fas fa-id-badge"></i> GUEST SIGN IN
                    <% end %>
                  </li>
                  <li class="nav-item">
                    <%= link_to new_admin_session_path ,class: "nav-link btn btn-outline-secondary rounded-pill",title:"sign in" do %>
                    *
                    <% end %>
                  </li>
                <% end %>
            </ul>
          </div>
        </div>
      </nav>