<!DOCTYPE html>
<html>
  <head>
    <title>PhotogenicSpot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm sticky-top">
       <%= render 'layouts/header' %>
    </header>

    <main class="mb-auto">
      <%= yield %>
    </main>

    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-3">
            <p>Happiness only real when shared.</p>
            <%= image_tag('Photogenic Spot-logo-white.png', size: '250x100') %>
          </div>
          <div class="col-md-9">
            <h6 class="text-white mt-2 mb-3">Link</h6>
            <ul class="p-0 list-unstyled">
              <li>
                <%= link_to "MAP", about_path , class:"text-white-50" %>
              </li>
              <li>
                <a href="" title="License informations" class="text-white-50">License informations</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>